<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIToken</key>
	<string>n55A2ocnkgjPhPY2K76w</string>
	<key>CallbackURL</key>
	<string>salesforcedeskmobile://oauth/success</string>
	<key>BasicAuthPassword</key>
	<string>Test1234</string>
	<key>BasicAuthUsername</key>
	<string>jforrest@salesforce.com</string>
	<key>Hostname</key>
	<string>deskmobile.deskqa.com</string>
	<key>ConsumerKey</key>
	<string>NmWaKgkU5XTn8C5xLtrk</string>
	<key>ConsumerSecret</key>
	<string>DXeoc3M49PWDwPrE3cd7pn9vHN6Oj5Y90g5Tgyqx</string>
	<key>AccessToken</key>
	<string>UhB5TxteVc459FVnQpUJ</string>
	<key>AccessTokenSecret</key>
	<string>l9Bo77u0Qz0qfSjFb9VWZ1uUkgt3Fj9XM2XTc0zy</string>
</dict>
</plist>
